langchain>=0.0.335
langchain-community>=0.0.10
streamlit>=1.27.0
pdfplumber
semantic-chunkers
open-text-embeddings
ollama>=0.1.6
prompt-template
langchain
langchain_experimental
sentence-transformers>=2.2.2
pypdf>=3.17.0
faiss-cpu>=1.7.4
tf-keras
tensorflow
langchain-ollama 
langchain-huggingface
requests>=2.31.0